{% extends "base.html" %}
{% block content %}
<div class="card p-4">
  <h3>Edit Book</h3>
  <form method="post" enctype="multipart/form-data">
    <div class="mb-3"><input class="form-control" name="title" value="{{ book.title }}" required></div>
    <div class="mb-3"><input class="form-control" name="author" value="{{ book.author }}" required></div>
    <div class="mb-3"><input class="form-control" name="category" value="{{ book.category }}"></div>
    <div class="mb-3"><input class="form-control" name="isbn" value="{{ book.isbn }}"></div>
    <div class="mb-3"><textarea class="form-control" name="description">{{ book.description }}</textarea></div>
    <div class="mb-3"><label>Replace Cover</label><input class="form-control" type="file" name="cover_image" accept="image/*"></div>
    <div class="mb-3"><label>Replace PDF</label><input class="form-control" type="file" name="pdf_file" accept="application/pdf"></div>
    <button class="btn btn-primary">Save Changes</button>
  </form>
</div>
{% endblock %}
